* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(157, 157, 255);
}

.text-center {
    padding-top: 5%;
}

.container {
    background-color: rgb(157, 157, 255);
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5%;
}

.kop {
    margin-right: 2%;
    display: inline-flex;
    float: right;
}

#date-part {
    font-size: 1.2em;
}

#time-part {
    font-size: 1.2em;
}